In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#讀取資料
df = pd.read_excel('C:\\Users\\user\\Desktop\\Titansoft\\Titansoft_BA_Test.xlsx')
#顯示前五筆
display(df.head())

          日期          帳號   貨幣  轉蛋次數  中獎次數    中獎機率    花費金額  累積寶物總價
0 2022-04-21  9B4A3C3069  CNY    45    25  0.5556    8299    4507
1 2022-11-01  527FA2C4FA  TWD  1657   691  0.4170  159082   50695
2 2022-12-27  52634EC827  TWD     1     1  1.0000      55      21
3 2022-11-25  C27DDD5E1C  CNY     5     1  0.2000     150       7
4 2022-08-25  580D884F36  KRW    14     5  0.3571   22220    5999

In [3]:
df['報酬率'] = df['累積寶物總價'] / df['花費金額']
display(df.head())

          日期          帳號   貨幣  轉蛋次數  中獎次數    中獎機率    花費金額  累積寶物總價       報酬率
0 2022-04-21  9B4A3C3069  CNY    45    25  0.5556    8299    4507  0.543077
1 2022-11-01  527FA2C4FA  TWD  1657   691  0.4170  159082   50695  0.318672
2 2022-12-27  52634EC827  TWD     1     1  1.0000      55      21  0.381818
3 2022-11-25  C27DDD5E1C  CNY     5     1  0.2000     150       7  0.046667
4 2022-08-25  580D884F36  KRW    14     5  0.3571   22220    5999  0.269982

In [10]:
pd.options.display.float_format = '{:.2f}'.format
display(df.describe())
stats = df.describe()

,日期,轉蛋次數,中獎次數,中獎機率,花費金額,累積寶物總價,報酬率
count,90386,90386.00,90386.00,90386.00,90386.00,90386.00,90386.00
mean,2022-11-12 06:13:31.081362176,73.77,31.73,0.40,42243.13,18085.35,0.31
min,2022-01-01 00:00:00,1.00,0.00,0.00,30.00,0.00,0.00
25%,2022-07-09 00:00:00,5.00,2.00,0.31,608.25,103.00,0.18
50%,2022-12-12 00:00:00,20.00,8.00,0.43,3840.00,1156.00,0.31
75%,2023-03-25 00:00:00,69.00,31.00,0.50,19312.50,7233.75,0.42
max,2023-06-30 00:00:00,4642.00,2098.00,1.00,13410671.00,5859926.00,72.43
std,NaN,168.97,70.59,0.22,215752.38,97720.23,0.45

In [23]:
quantile_90 = df[['中獎機率','報酬率']].quantile(0.95)
print(quantile_90)

中獎機率   0.75
報酬率    0.60
Name: 0.95, dtype: float64

In [18]:
lucky_players = df[(df['中獎機率']>0.75) & (df['報酬率']>0.60)]
display(lucky_players)

              日期          帳號   貨幣  轉蛋次數  中獎次數  中獎機率   花費金額  累積寶物總價  報酬率
26    2022-12-22  56F4F6E9A7  HKD     1     1  1.00     30      21 0.70
29    2022-07-21  F453CBD765  CNY     2     2  1.00    660     508 0.77
40    2022-07-31  43E2C23451  KRW     1     1  1.00    130      86 0.66
70    2022-10-18  B118B4844A  KRW     4     4  1.00  10120    8695 0.86
91    2022-03-06  9E8EA60EA1  CNY     1     1  1.00    330     254 0.77
...          ...         ...  ...   ...   ...   ...    ...     ...  ...
90209 2023-06-15  D882060B4B  JPY     1     1  1.00     30      21 0.70
90243 2023-02-09  AC92609EA4  KRW     1     1  1.00     30      21 0.70
90298 2023-03-01  1A9F567A4C  TWD     1     1  1.00     30      21 0.70
90346 2023-04-22  2C0200B619  TWD     3     3  1.00  29090   24130 0.83
90378 2023-01-22  A327E9FADF  HKD     1     1  1.00     30      21 0.70

[2404 rows x 9 columns]